/* Global CSS File for W3D */

/* Nav-Styling */
.active {
    background-color: #343a40 !important;
    color: #fff !important;
}


/* Anzeige-Text in _anzeigen-Dateien */
.anz-text {
    font-size: 1.3em;
    margin-left: 0.5em;
}
